<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h4><?php echo $this->__('Abandoned carts in time:');
    $abandonedDates = $this->abandonedDates();
    ?></h4>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['Date', 'abandoned carts'],
            <?php foreach($abandonedDates as $abandonedDate => $value) {
            echo "['".$abandonedDate."', ".$value."],";
        }
            ?>
        ]);

        var options =  {
            chart: {
                title: 'Abandoned carts in time'
            }
        };



        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart_div"></div>

