<h4><?php echo $this->__('Cron jobs:');
    $cronJobs = $this->cronJobs();
    ?></h4>

<table style="width:20%">
    <tr>
        <th>cron job</th>
        <th>cron expression</th>
    </tr>
    <?php foreach($cronJobs as $key => $cronjob) {?>
    <tr>
        <td><?php echo $key ?></td>
        <td><?php echo $cronjob ?></td>
    </tr>

    <?php } ?>
</table>
