<?php
$daysLabels = $this->getCustomerFailedLoginDays();
?>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['Day', 'Failed logins per Day'],
            <?php
            foreach ($daysLabels as $dayLabel) {
                echo "['".$dayLabel['day']."', ".$dayLabel['count']."],";
            }
            ?>

        ]);

        var options = {
            title: <?php echo $this->__("'Failed logins in days:'");?>
        };


        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart_div" style="max-width: 1920px;"></div>


