<h4><?php echo $this->__('Files in var/log directory:');?></h4>
<table>
<?php
$filenames = $this->getFileslisting();
$filesizes = $this->getFilesSize();
$filetimes = $this->getFilesTime();

$mi = new MultipleIterator();
$mi->attachIterator(new ArrayIterator($filenames));
$mi->attachIterator(new ArrayIterator($filesizes));
$mi->attachIterator(new ArrayIterator($filetimes));

echo '<tr><th>file</th><th>size</th><th>last edit</th></tr>';
foreach($mi as $value) {
    list($filename, $filesize, $filetime) = $value;
        echo '<tr><th>'.$filename.'</th><th>'.($filesize/1000).'kB</th><th>'.$filetime.'</th></tr>';
}
?>
</table>
<h4><?php echo $this->__('Reports');?></h4>
<table>
    <?php
    $filenames = $this->getReportListing();
    $filesizes = $this->getReportTime();
    $mi = new MultipleIterator();
    $mi->attachIterator(new ArrayIterator($filenames));
    $mi->attachIterator(new ArrayIterator($filesizes));
    echo '<tr><th>file</th><th>last edit</th></tr>';
    foreach($mi as $value) {
        list($filename, $filetime) = $value;
        echo '<tr><th>'.$filename.'</th>><th>'.$filetime.'</th></tr>';
    }
?>

</table>