<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h4><?php echo $this->__('Last customer login:');?></h4>
<?php echo $this->getLastLogin()[0]['login_at'];?>
<h4><?php echo $this->__('Last customer registration:');?></h4>
<?php echo $this->getLastRegistration();?>
<h4><?php echo $this->__('Last customer order:');?></h4>
<?php echo $this->getLastOrder();?>
<h4><?php echo $this->__('Customer logins in time:');?></h4>
<?php  $loginDates = $this->getCustomerLoginDates();?>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['Day', 'Customer logins'],
            <?php foreach($loginDates as $loginDate => $value) {
            echo "['".$loginDate."', ".$value."],";
        }
            ?>
        ]);

        var options =  {
            chart: {
                title: 'Customer logins'
            }
        };



        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart0_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart0_div"></div>
<h4><?php echo $this->__('Registrations in time:');?></h4>
<?php  $registryDates = $this->getRegistrationDates();?>
<script type="text/javascript">
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['Day', 'Registrations'],
            <?php foreach($registryDates as $key => $registryDate) {
            echo "['".$key."', ".$registryDate."],";
        }
            ?>
        ]);

        var options =  {
            chart: {
                title: 'Registrations'
            }
        };



        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart_div"></div>

<h4><?php echo $this->__('Email Queue:');?></h4>
<?php echo $this->__('items in Queue: ').sizeof($this->getEmailQueue());?>
<h4><?php echo $this->__('Emails in queue creating time:');?></h4>
<?php
$emails = $this->getEmailQueue();
$emailDates = $this->getEmailQueueDates($emails);
?>
<script type="text/javascript">
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['Day', 'Emails'],
            <?php foreach($emailDates as $emailDate => $value) {
            echo "['".$emailDate."', ".$value."],";
        }
            ?>
        ]);

        var options =  {
            chart: {
                title: 'Emails in queue'
            }
        };



        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart2_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart2_div"></div>
<h4><?php echo $this->__('Email types in queue:');?></h4>
<?php $types = $this->getEmailTypes($emails); ?>
<script type="text/javascript">
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['Types', 'count'],
            <?php foreach($types as $type => $value) {
            echo "['".$type."', ".$value."],";
        }
            ?>
        ]);

        var options =  {
            chart: {
                title: 'Type of emails in queue'
            }
        };



        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart3_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart3_div"></div>
<h4><?php echo $this->__('Failed payments:');?></h4>
<?php
$FailurePayments = $this->getFailurePayments();
?>
<script type="text/javascript">
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['Dates', 'count'],
            <?php foreach($FailurePayments as $FailurePayment => $value) {
            echo "['".$FailurePayment."', ".$value."],";
        }
            ?>
        ]);

        var options =  {
            chart: {
                title: 'Failure Payments'
            }
        };



        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart5_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart5_div"></div>
