<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h4><?php $orderDates = $this->getOrderDates();
    echo $this->__('Orders in time:');?></h4>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['Day', 'Orders'],
            <?php foreach($orderDates as $date => $value) {
            echo "['".$date."', ".$value."],";
        }
            ?>
        ]);

        var options =  {
            chart: {
                title: 'Orders'
            }
        };



        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart_div"></div>
<h4><?php echo $this->__('Orders status list:'); ?></h4>
<ul>
    <?php

    $statuses = $this->getOrdersStatusCount();
    foreach($statuses as $status => $value) {
        echo "<li>".$status."</li>";
    }
    ?>
</ul>
<script type="text/javascript">
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Status', 'Orders count'],
            <?php
            foreach ($statuses as $status => $value) {
                echo "['".$status."', ".$value."],";
            }
            ?>

        ]);

        var options = {
            title: <?php echo $this->__("'Orders status:'");?>
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>

<div id="piechart" style="width: 900px; height: 500px;"></div>
<h4><?php echo $this->__('Orders status timeline:');
    $ordersStatusTime = $this->getOrdersStatusTimeline($this->getOrdersStatusCount());

    ?></h4>
<script type="text/javascript">
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['',
                <?php
                foreach($statuses as $status => $value) {
                    echo "'".$status."', ";
                }
                ?> { role: 'annotation' } ],
            <?php
            foreach ($ordersStatusTime as $key => $orderStatusTime) {
                echo "['".$key."',";
                foreach ($orderStatusTime as $status => $count) {
                    echo $count.", ";
                }
                echo "''],";
            }
            ?>

        ]);

        var options = {
            width: 1920,
            height: 600,
            legend: { position: 'top', maxLines: 30 },
            bar: { groupWidth: '10%' },
            isStacked: true,
        };



        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart2_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart2_div"></div>





<h4><?php echo $this->__('Shipping methods:');?></h4>
<?php $counts = $this->getShippingMethodsCount();  ?>

<script type="text/javascript">
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Status', 'Orders count'],
            <?php
            foreach ($counts as $method => $count) {
                echo "['".$method."', ".$count."],";
            }
            ?>

            ['',    0]
        ]);

        var options = {
            title: <?php echo $this->__("'Shipping methods count:'");?>
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
    }
</script>




<div id="piechart2" style="width: 900px; height: 500px;"></div>
<h4><?php echo $this->__('Shipping methods in time:');?></h4>
<?php
$orderShippingsTime = $this->getShippingMethodsTimeline();
?>


<script type="text/javascript">
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = google.visualization.arrayToDataTable([
            ['',
                <?php
                foreach($orderShippingsTime['2013-01-01'] as $shipping => $value) {
                    echo "'".$shipping."', ";
                }
                ?> { role: 'annotation' } ],
            <?php
            foreach ($orderShippingsTime as $key => $orderShippingTime) {
                echo "['".$key."',";
                foreach ($orderShippingTime as $status => $count) {
                    echo $count.", ";
                }
                echo "''],";
            }
            ?>

        ]);

        var options = {
            width: 1920,
            height: 600,
            legend: { position: 'top', maxLines: 30 },
            bar: { groupWidth: '10%' },
            isStacked: true,
        };



        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart10_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart10_div"></div>




<h4><?php echo $this->__('Payment methods:');?></h4>
<ul>
    <?php
    $payments = $this->getPaymentMethodsCount($this->getPaymentMethods());
    foreach($payments as $payment) {
        echo "<li>".$payment['method']."</li>";
    }
    ?>
    <script type="text/javascript">
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Payment method', 'count'],
                <?php
                foreach ($payments as $payment => $value) {
                    echo "['".$payment."', ".$value."],";
                }
                ?>

                ['',    0]
            ]);

            var options = {
                title: <?php echo $this->__("'Payments methods count:'");?>
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart3'));

            chart.draw(data, options);
        }
    </script>
    <div id="piechart3" style="width: 900px; height: 500px;"></div>
    <h4><?php echo $this->__('Payment methods in time:');?></h4>
    <?php
    $orderPaymentsTime = $this->getPaymentMethodsTimeline($this->getPaymentMethods());
    ?>
    <script type="text/javascript">
        google.charts.setOnLoadCallback(drawLineColors);

        function drawLineColors() {
            var data = google.visualization.arrayToDataTable([
                ['Date'
                    <?php
                    foreach ($orderPaymentsTime['2013-01-01'] as $method => $value)
                        echo ",'".$method."'";
                    ?>
                ],
                <?php
                foreach ($orderPaymentsTime as $key => $orderPayment) {
                    echo "['".$key."'";
                    foreach ($orderPayment as $method => $value) {
                        echo ",".$value;
                    }
                    echo "],";
                }

                ?>

            ]);

            var options = {
                hAxis: {
                    title: 'Day'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('linechart2_div'));
            chart.draw(data, options);
        }
    </script>
    <div id="linechart2_div"></div>
