<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h4><?php echo $this->__('Average pageload times:');?></h4>
<?php
$pageLoadTimes = $this->getPageLoadTimes();
?>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawLineColors);

    function drawLineColors() {
        var data = google.visualization.arrayToDataTable([
            ['Date','Category','Product','Homepage'],
            <?php
            foreach ($pageLoadTimes as $pageLoadTime => $category) {
                echo "['".$pageLoadTime."',";
              foreach ($category as $index => $value) {
                  echo $value,",";
                }
                echo "],";
              }

            ?>

        ]);

        var options = {
            hAxis: {
                title: 'Day'
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('linechart_div'));
        chart.draw(data, options);
    }
</script>
<div id="linechart_div"></div>